@import url('https://fonts.googleapis.com/css2? ');
body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    margin-bottom: -90px;
    padding: 0px 20px;
}
.header-logo:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.flex ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: -50px;
    align-items: stretch;
}
.nav__link{
padding-left: 30px;
}
.nav__link:hover{
    color: #bdae82;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.section-about{
    background-image: url(../assets/images/bg.jpg);
    background-size: 1440px 910px;
    padding-top: 90px;
    background-size: cover;
}
.section-about__div{
    padding: 160px 860px 330px 80px;
}
.section-about__title{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    color: #ffffff;
}
.section-about__button{
    color: #000000;
    background-color: #bdae82;
    padding: 15px 70px;
}
.section-about__button:hover{
    color: #ffffff;
}
h2{
    margin-top: 100px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 60px;
    color: #bdae82;
}
.section-skills__items{
    margin: 60px 10px 2px 20px;
    display: flex;
    text-align: center;
}
.section-skills__items-title{
    font-weight: bolder;
    font-size: 20px;
}
.section-skills__items-text{
    font-size: 17px;
    padding: 0px 20px;
}
.portfolio-btns{
    text-align: center;
    margin: 60px;
    gap: 5px;
}
.section-portfolio__button{
    color: #bdae82;
    width: 220px;
    height: 55px;
    background-color: #000000;
    border: #bdae82 2px groove;
}
.section-portfolio__btn{
    width: 220px;
    height: 55px;
    color: #000000;
    background-color: #bdae82;
}
.portfolio-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.video-player{
    width: 1400px;
    height: 705px;
    justify-content: center;
    background-image: url(..//assets/video/video-player.jpg);
    background-repeat: no-repeat;
    margin: 20px;
    align-items: center;
    display: flex;
}
